@font-face 
{
	font-family:Sans Bold;
	src: url('fonts/PTSans-Bold.ttf') format("truetype");
}
@font-face
{
	font-family:Sans Regular;
	src: url('fonts/PTSans-Regular.ttf') format("truetype");
}
html,body 
{
	padding:0px;
	margin:0px;
	background:#ffffff;
	font-family: Sans Regular;
	color: #151515;
}
a
{
	outline:none;
}
b, strong
{
	font-family:Sans Bold;
	font-weight:normal;
}
h1,h2,h3,h4
{
	padding:0px;
	margin:0px;
	font-weight:normal;
	cursor:default;
}
.wrapper {
	width: 960px;
	margin: 0px auto;
}
body {
	background: url("images/blue-pattern.png");
	height: 100vh;
}
header {
	background: #D7F5FC url("images/head-pict.png") no-repeat center;
	height: 478px;
	background-size: auto 100%;
}
footer {
	background: url("images/blue-pattern.png");
}
.footer-container {
	display: flex;
	width: 100%;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding-top: 100px;
	padding-bottom: 25px;
}
.container {
	width: 312px;
	text-align: center;
	padding: 0px 8px;
}
.image {
	margin-bottom: 10px;
}
.title {
	display: block;
	width: 100%;
	text-align: center;
	font-family: Sans Bold;
	color: white;
	font-size: 20px;
	margin-bottom: 24px;
}
.description {
	font-size: 16px;
	color: white;
	line-height: 1.6;
}

